<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

      <script>

      document.addEventListener('DOMContentLoaded', () => {

          // Connect to websocket
          var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

          // When connected, configure buttons
          socket.on('connect', () => {

            document.querySelector('#createchatbtn').onclick = () => {

                const chatname = document.querySelector('#chatname').value;
                socket.emit('create chat', {'chatname': chatname});
                };
            });
            //});

          // When a chat is created, add it to the chat select item
          socket.on('chat created', data => {

              const option = document.createElement('option');
              option.setAttribute("value", `${data.chatname}`);
              option.innerHTML = `${data.chatname}`;
              document.querySelector("#chatlist").add(option);

          });

          document.querySelector('#chatselect').onsubmit = () => {

              // clear out old messages
              document.querySelector('#messages').innerHTML = "";
              //alert("Button clicked");
              // Initialize new request
              const request = new XMLHttpRequest()
              const chatroom = document.querySelector('#chatlist').value;
              request.open('POST', '/loadchat');

              // Callback function for when request completes
              request.onload = () => {

                   // Extract JSON data from request
                   const data = JSON.parse(request.responseText);

                  // getting back .messages
                  // list of dictionaries containing users and messages
                  // [{"user": user, "message": message}]

                  for(i in data.messages){
                    user = data.messages[i].user;
                    message = data.messages[i].message;

                    const li = document.createElement('li');
                    li.innerHTML = user + " - " + message;
                    document.querySelector('#messages').append(li);
                  }

               }

              // Add data to send with request
              const data = new FormData();
              data.append('chatname', chatroom);
              //
              // Send request
              request.send(data);
              return false;
          };


        }); // end of DOMContentLoaded

          var user = '{{ message }}';

          localStorage.setItem('userTest3', user);



      </script>
        <title>Chat Site</title>
    </head>
    <body>
        <h3>Welcome to the Chat Site!</h3>
        <form id="chatselect">
          <select id="chatlist">
            {% for chat in chats %}
              <option value="{{ chat }}">{{ chat }}</option>
              {% endfor %}
          </select>
          <input type="submit" value="Enter Chat">
        </form>



        <input id="chatname" autocomplete="off" autofocus placeholder="New Chat" type="text">
        <button id="createchatbtn">Create Chat</button>


        <hr>

        <ul id="messages">
        </ul>

    </body>
</html>
