<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

      <script>

        var currentroom = "";

        var user;
        if(!localStorage.getItem('userTest4'))
        {
            user = '{{ message }}';
            localStorage.setItem('userTest4', user);
        }else{
          user = localStorage.getItem('userTest4');
        }


      document.addEventListener('DOMContentLoaded', () => {

          if(localStorage.getItem('currentroom')){

              room = localStorage.getItem('currentroom');
              load_messages(room);
          }

          // Connect to websocket
          var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

          // When connected, configure buttons
          socket.on('connect', () => {
              // add functionality for creating chat button
              document.querySelector('#createchatbtn').onclick = () => {
                const chatname = document.querySelector('#chatname').value;
                socket.emit('create chat', {'chatname': chatname});
              };

              // add functionality for adding message button
              document.querySelector('#sendmessage').onclick = () => {
                const message = document.querySelector('#message').value;
                socket.emit('submit message', {'room': currentroom, 'user': user, 'message': message});
              };

            });
            //});

          // When a chat is created, add it to the chat select item
          socket.on('chat created', data => {

              const option = document.createElement('option');
              option.setAttribute("value", `${data.chatname}`);
              option.innerHTML = `${data.chatname}`;
              document.querySelector("#chatlist").add(option);

          });

          // When a chat is created, add it to the chat select item
          socket.on('message received', data => {
              let sender = data.user;
              let message = data.message;
              let room = data.room;

              if(currentroom === room){
                const li = document.createElement('li');
                li.innerHTML = sender + " - " + message;
                document.querySelector('#messages').append(li);
              }

          });

          document.querySelector('#chatselect').onsubmit = () => {

              // clear out old messages
              document.querySelector('#messages').innerHTML = "";

              // Initialize new request

              const chatroom = document.querySelector('#chatlist').value;

              load_messages(chatroom);

              currentroom = chatroom;
              localStorage.setItem('currentroom', chatroom);
              return false;
          };


        }); // end of DOMContentLoaded


        function load_messages(chatroom){

          const request = new XMLHttpRequest();

          request.open('POST', '/loadchat');

          // Callback function for when request completes
          request.onload = () => {

               // Extract JSON data from request
               const data = JSON.parse(request.responseText);

              // getting back .messages
              // list of dictionaries containing users and messages
              // [{"user": user, "message": message}]

              for(i in data.messages){
                let sender = data.messages[i].user;
                let message = data.messages[i].message;

                const li = document.createElement('li');
                li.innerHTML = sender + " - " + message;
                document.querySelector('#messages').append(li);
              }

           }

          // Add data to send with request
          const data = new FormData();
          data.append('chatname', chatroom);
          //
          // Send request
          request.send(data);

        }

      </script>
        <title>Chat Site</title>
    </head>
    <body>
        <h3>Welcome to the Chat Site!</h3>
        <form id="chatselect">
          <select id="chatlist">
            {% for chat in chats %}
              <option value="{{ chat }}">{{ chat }}</option>
              {% endfor %}
          </select>
          <input type="submit" value="Enter Chat">
        </form>

        <hr>

        <input id="chatname" autocomplete="off" autofocus placeholder="New Chat" type="text">
        <button id="createchatbtn">Create Chat</button>

        <hr>

        <input id="message" autocomplete="off" autofocus placeholder="Enter Message" type="text">
        <button id="sendmessage">Send Message</button>

        <hr>

        <ul id="messages">
        </ul>

    </body>
</html>
