socket.on('connect', () => {

    // Each button should emit a "submit vote" event
    document.querySelectorAll('button').forEach(button => {
        button.onclick = () => {
            const chatname = document.querySelector('#chatname').value;
            socket.emit('create chat', {'chatname': chatname});
        };
    });
});



document.querySelector('#createchatbtn').onclick = () => {

    const chatname = document.querySelector('#chatname').value;
    socket.emit('create chat', {'chatname': chatname});
    };
});
//});


<button id="createchatbtn">Create Chat</button>

const li = document.createElement('li');
li.innerHTML = `New Chat added: ${data.chatname}`;
document.querySelector('#chats').append(li);
