<!DOCTYPE html>
<html>
    <head>
        <script>

            // Load current value of  counter
            document.addEventListener('DOMContentLoaded', () => {


                // if user has never been to site before
                // provide area to enter user name
                if (!localStorage.getItem('user')){

                  document.querySelector('#welcome').innerHTML = "Welcome to FRABBLER! Enter a new screen name to proceed!";

                  // Create new textbox for name entry
                  const input = document.createElement('INPUT');

                  input.setAttribute("type", "text");

                  input.setAttribute("name", "username");

                  // Add new item to task list
                  document.querySelector('#link').appendChild(input);

                }
                // otherwise allow user to proceed to chats
                else{
                    var user = localStorage.getItem('user');

                    document.querySelector('#welcome').innerHTML = `Hi ${user}! Welcome Back To FRABBLER`;

                    const input = document.createElement("INPUT");

                    input.setAttribute("type", "hidden");

                    input.setAttribute("name", "username");

                    input.setAttribute("value", user);

                    //append to form element that you want .
                    document.querySelector("#loginform").appendChild(input);

                }

            });

        </script>
        <title>Chats</title>
    </head>
    <body style="background-color:MistyRose">
        <h2 id="welcome" style="text-align:center"></h2>


        <form id="loginform" action="{{ url_for('chats') }}" method="post" style="margin:0 auto;width:50%;padding:10px;">
            <div id="link" style="margin:5px"></div>
            <div class="form-group">
                <button class="btn btn-primary">Proceed to Chats</button>
            </div>

        </form>

    </body>
</html>
